* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
#comparison_tabs {
  width: 33em;
} */

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #ffffff; */
  /* background-color: #303030; */
  /* color: #424242; */
  background-image: 
  url('/client/images/LA4.jpg'),
  linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3));
  /* linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)); */
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  height: 110vh;
}

#company_container {
  width: 15em;
  display: flex;
  float: left;
  justify-content: flex-start;
}

#company_comparison_div {
  width: 13em;
}

.vertical_tab_bar {
  background-color: #ffe082;
  color: rgb(102, 102, 102);
  border: 1px solid #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.data_display_div {
  display: flex;
  flex-wrap: wrap;
}

#linkedinButton {
  width: 174px;
  height: 42px;
}

.current_user_header {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#current_user_name {
  font-weight: 100;
  font-size: 2.5rem;
}

#current_user_label {
  margin-top: 0.6em;
  font-weight: 700;
  font-size: 1rem;
}

#tables_div {
  margin-top: 3rem;
}

.table_displays {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#comparison_tabs {
  margin-top: 2rem;
}

#linkedinButton {
  width: 203px;
  height: 49px;
}

#appBar {
  /* background-color: #ff8f00; */
  background-color: rgb(121, 82, 179);
  /* justify-content: space-between; */
}


/* PIE CHART */
.pieChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  opacity: 0.25;
  transition: 0.2s ease-in;
}

.pieChart:hover {
  opacity: 1;
  transform: scale(1.25);
}